<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>főoldal</title>
</head>
<body>
    <h1>Szia János, asszem működik a szerver!</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsa explicabo, excepturi expedita aliquam, asperiores, dignissimos ut natus maiores adipisci incidunt temporibus? Provident praesentium debitis possimus rem dolorem accusantium amet.
</body>
</html>